<footer class="mt-auto">
  <div class="smaller-font container-fluid">
    <div class="row">
      <!-- Left Aligned -->
      <div class="col-8">
        Home and Favicon Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good
          Ware</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
          BY</a>
      </div>
      <!-- Right aligned -->
      <div class="col-4 text-right">
        &copy; Manuel Colorado 2019
      </div>
    </div>
  </div>
</footer>
