.material-icons {
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}
.li-text-right {
  text-align: right;
}

.li-text-left {
  text-align: left;
}

.li-text-center {
  text-align: center;
}

.align-fix {
  padding-top: 5px;
}
