.material-icons {
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}
.li-text-right {
  text-align: right;
}

.li-text-left {
  text-align: left;
}

.li-text-center {
  text-align: center;
}

.align-fix {
  padding-top: 5px;
}

.container {
  margin-top: 1rem;
}

// establishes the same padding as list-group-item so all items are at the same level
.setup-item {
  padding: 0.75rem 1.25rem;
}
