<div class="container">
  <h1 class="text-center">Algorithm Benchmarking App</h1>
</div>
<div class="container">
  <section>
    <h2>Background</h2>
    <p class="text-justify">
      As a programmer you must be familiar with that gut feeling that this second nested loop you're just making is
      going to slow down your application.
    </p>
    <p class="text-justify">
      But what about that third loop? And that fourth loop? Recursive calls? HA!
    </p>
    <p class="text-justify">
      Although there's plenty of resources that explain what's the Big O notation and what are the most efficient
      algorithms sometimes the little skeptical on us comes back at us saying "Do you really believe it?"
    </p>
    <p class="text-justify">
      This is my approach to show you that you don't have to be skeptical. You can just try it yourself, in your own
      browser.
    </p>
  </section>
  <section>
    <h2>How this works</h2>
    <p>Pretty simple:</p>
    <ol>
      <li>Click on <em>Setup</em></li>
      <li>
        Select the algorithms you want to test, the amount of repetitions of each algorithm and the size of the
        collection to sort.
      </li>
      <li>Click on <em>Benchmark</em></li>
      <li>Click <em>RUN</em></li>
      <li>???</li>
      <li>Profit!</li>
    </ol>
    <p>
      You will see how the graph automatically populates and provides you with a neat visualization you can then filter
      or zoom to verify your results.
    </p>
  </section>
  <section>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2>Wanna know more?</h2>
        <p class="text-justify">
          Click on
          <a routerLink="/resources">Resources</a> to get a list of nifty resources to learn more about Big O notation
          or the sources of the algorithms that were used during the making of this site.
        </p>
        <small>No algorithms or developers were harmed during the making of this site.</small>
      </div>
      <div class="col-md-6 col-sm-12">
        <h2>Wanna contribute?</h2>
        <p class="text-justify">
          If you see any unexpected result or want to add your beloved algorithm missing from here please note this
          project is, not only Open Sourced, but it also welcomes Pull Requests. Just head over to
          <a href="https://github.com/Narshe1412/Code-Institute-User-Centric-Algorithms/pulls">this window</a> and send
          me yours.
        </p>
        <h5>Disclaimer:</h5>
        <p class="text-justify">
          The code hereby provided has been developed as part of an assignment for a Full Stack Developer Certificate on
          Code Institute. Partially or completely copying this code and presenting as an assigment can violate your
          school/college plagiarism policies even if abiding by the license of this project. I'm not liable if you get
          into trouble for doing this.
        </p>
      </div>
    </div>
  </section>
</div>
